<ion-view view-title="Voltar">
    <ion-content>

        <div class="title-img-tree hero slide-up">
            <img id="inter-img" ng-src={{ctrl.source}}></img>

        </div>
        <div class="list card light-bg">
            <a class="item item-icon-left" ng-if="ctrl.verify(ctrl.dados.designacao)" ng-click="showMore('Designação', ctrl.dados.designacao)"><i class="icon ion-alert calm"></i>
                {{ctrl.dados.designacao}}   
            </a>
        </div>
        <div class="list card light-bg">
                <a class="item item-icon-left" ng-if="ctrl.verify(ctrl.dados.estratigrafia)" ng-click="showMore('Estratigrafia', ctrl.dados.estratigrafia)"><i class="icon ion-cube calm"></i>
                    {{ctrl.dados.estratigrafia}}   
                </a>
        </div>

        <div class="list card light-bg">
                <a class="item item-icon-left" ng-if="ctrl.verify(ctrl.dados.procedencia)" ng-click="showMore('Procedência', ctrl.dados.procedencia)"><i class="icon ion-flag calm"></i>
                    {{ctrl.dados.procedencia}}   
                </a>
        </div>

        <div class="list card light-bg">
                <a class="item item-icon-left" ng-if="ctrl.verify(ctrl.dados.idade)" ng-click="showMore('Idade', ctrl.dados.idade)"><i class="icon ion-calendar calm"></i>
                    {{ctrl.dados.idade}}   
                </a>
        </div>
        <div class="list card light-bg" ng-if="ctrl.verify(ctrl.dados.info)">
            <div class="item item-body divide" id="font" style="color: black">
                {{ctrl.classTree}} {{ctrl.dados.info}}
            </div>
        </div>

    </ion-content>
</ion-view>