<ion-view view-title="Login" align-title="left">
    <ion-content class="loginback">
        <div class="header-blur">
            <div class="row">
                <div class="col col-center">
                    <h1 class="login-header padding">
                        Bem vindo!
                    </h1>
                </div>
            </div>
            <div class="row" style="text-align: center; color: white;">
                Por favor, insira o seu nome no campo abaixo! (Não é necessario conexão com a internet)
            </div>
        </div>
        <form name="loginForm" ng-submit="lg.login()">
            <div class="row">
                <div class="col col-center">
                    <div class="padding">
                        <ion-list>
                            <input class="item loginpage" ng-model="lg.user.nome" type="text" placeholder="Nome">
                        </ion-list>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-center">
                    <div class="padding">
                        <button class="button button-full button-balanced-login">ACESSAR</button>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>