<ion-view view-title="Login" align-title="left">
    <ion-content class="loginback">
        <div class="header-blur">
            <div class="row">
                <div class="col col-50">
                    <img ng-click="setAvatar('001-girl-3.png')" src="img/avatars/001-girl-3.png" width="150" height="150" alt="">
                </div>
                <div class="col col-50">
                    <img ng-click="setAvatar('002-girl-2.png')" src="img/avatars/002-girl-2.png" class="pull-right" width="150" height="150" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <img ng-click="setAvatar('004-man.png')" src="img/avatars/004-man.png" width="150" height="150" alt="">
                </div>
                <div class="col col-50">
                    <img ng-click="setAvatar('006-boy.png')" src="img/avatars/006-boy.png" class="pull-right" width="150" height="150" alt="">
                </div>
            </div>
            
            <div class="row">
                <div class="col col-50">
                    <img ng-click="setAvatar('007-nick.png')" src="img/avatars/007-nick.png" width="120" height="150" alt="">
                </div>
                <div class="col col-50">
                    <img ng-click="setAvatar('008-nick.png')" src="img/avatars/008-nick.png" class="pull-right" width="120" height="150" alt="">
                </div>
            </div> 


        </div>
        <h1 class="login-header padding">
            Escolha seu avatar!
        </h1>
    </ion-content>
</ion-view>