<ion-view view-title="Login" align-title="left">
    <ion-content class="loginback">
        <div class="header-blur">
            <div class="row">
                <div class="col col-center">
                    <h1 class="login-header padding">
                        Bem vindo!
                    </h1>
                </div>
            </div>
            <div class="row" style="text-align: center; color: white;">
                Por favor, insira o seu nome e-mail nos campos abaixo! (Não é necessario conexão com a internet)
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="padding">
                    <ion-list>
                        <input class="item loginpage" ng-model="user.email" type="email" placeholder="Email" required>
                        <input class="item loginpage" ng-model="user.nome" type="text" placeholder="Nome" required>
                    </ion-list>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-center">
                <div class="padding">
                    <button class="button button-full button-balanced-login" ng-click="lg.login(user)">ACESSAR</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>