<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Equipe!</h1>
        <div class="button button-clear" ng-click="modal3.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
        <div class="row">
        </div>
        <h3 style="text-align: center; margin-top: 50px;">Orientadores</h3>
        <div class="list">
            <a class="item item-avatar" href="https://www.facebook.com/joaoalberto.brito"> 
                <img src="img/people/ja.jpg"> 
                <h2>Prof. João Abreu</h2> 
            </a>
            <a class="item item-avatar"> 
                <img src="img/avatars/004-man.png"> 
                <h2>Prof. Gauberto</h2> 
            </a>
            <a class="item item-avatar">
                <img src="img/avatars/003-girl-1.png">
                <h2>Prof. Brisa</h2>
            </a>
        </div>
        <h3 style="text-align: center; margin-top: 50px;">Bolsistas</h3>
        <div class="list">
            <a class="item item-avatar"> 
             <img src="img/people/mt.jpg"> 
             <h2>Matheus Lacerda</h2> 
         </a>
         <a class="item item-avatar"> 
            <img src="img/people/jw.jpg"> 
            <h2>João Willamy</h2>  
        </a>
        <a class="item item-avatar"> 
            <img src="img/people/laenne.jpg"> 
            <h2>Laenne Lima</h2>  
        </a>
        <a class="item item-avatar"> 
            <img src="img/avatars/001-girl-3.png"> 
            <h2>Priscila</h2>  
        </a>
    </div>
    <div class="list card light-bg">
        <div class="item item-body" id="font" style="color: black">
            <p>QrFlora é um aplicativo idealizado e desenvolvidos por um grupo de alunos e seus orientadores. Desenvolvido
                em 2017 no IFCE campus Crato.</p>
            </div>
        </div>

        <div class="sobre-ifce">
            <img id="img-ifce" src="img/ifce.png"></img>
            <img id="img-ifce" src="img/sitio.jpg"></img>
        </div>
        <div>
            <p style="font-size: 12px; margin-top: 50px; margin-left: 10px; margin-botton: 2px;">
                Icons made by
                <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from www.flaticon.com
            </p>
        </div>
    </ion-content>
</ion-modal-view>