<ion-view view-title="Home">
  <ion-content>
    <div class="padding">
      <div class="list separete">
        <a class="item item-avatar">
          <img src="img/logo.jpg">
          <h2>IFCE</h2>
          <p>Instituto Federal de Ciências e tecnologia</p>
        </a>
        <a class="item item-avatar">
          <img src="img/si.jpg">
          <h2>Sistemas de Informação</h2>
          <p>Curso Bacharel</p>
        </a>
        <a class="item item-avatar">
          <img src="img/zootecnia.jpg">
          <h2>Zootecnia</h2>
          <p>Curso Bacharel</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>