<ion-view view-title="Home">
    <ion-content>
     <div class="padding">
      <div class="list card light-bg">
        <div class="item separate">
          <h2>IFCE - Campus Crato</h2>
        </div>
        <div class="item item-body img-card">
          <img src="img/ifce.jpg" alt="logo">
        </div>
        <div class="item button button-light">
          Acessar
        </div>
        <div class="item separate">
          <h2>Curso de Sistemas de informação</h2>
        </div>
        <div class="item item-body img-card">
          <img src="img/si.jpg" alt="logo">
        </div>
        <div class="item button button-light">
          Acessar
        </div>
      </div>
    </div>
    </ion-content>
</ion-view>