<ion-view view-title="Login" align-title="left">
    <ion-content class="loginback">
        <div class="padding">
            <ion-list>
                <input class="item loginpage" type="text" placeholder="Login">
                <input class="item loginpage" type="password" placeholder="Senha">
            </ion-list>
        </div>
        <div class="padding">
            <button class="button button-full button-light" ui-sref="app.home">Login</button>
            <div class="divid"></div>
            <button class="button button-full button-assertive icon icon-left ion-social-google">Google</button>
            <button ng-click="facebookSignIn()" class="button button-full button-positive icon icon-left ion-social-facebook">Facebook</button>
        </div>

        <div class="padding">
            <p class="signup">
                Esqueceu sua senha?
            </p>
            <p class="signup">
                Cadastre-se
            </p>
        </div>
    </ion-content>
</ion-view>